* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: #0f0c29;
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
	font-family: "Poppins", sans-serif;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem;
	gap: 3rem;
	position: relative;

	& .container-up {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 30%;

		& .up-holder {
			height: 100%;
			width: 40%;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1.5rem 2rem;
			border-radius: 5px;
			background-color: rgb(184, 182, 182);

			& h2 {
				font-size: 1.8rem;
			}

			& .row {
				display: flex;
				gap: 1.5rem;
				width: 100%;
				height: auto;

				& input {
					border: none;
					outline: none;
					height: 2.8rem;
					padding: 1rem 1.8rem;
					width: 80%;
					font-size: 1.2rem;
					border-radius: 5px;
					text-transform: capitalize;
				}

				& button {
					/* padding:10px; */
					height: 2.8rem;
					width: 5.5rem;
					border: none;
					outline: none;
					border-radius: 5px;
					font-size: 1.2rem;
					font-weight: bold;
					cursor: pointer;
					background-color: #c34f25;
					color: whitesmoke;
				}
			}
		}
	}

	& .container-down {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		gap: 2rem;
		width: 100%;
		height: 75%;

		& .section-center {
			height: 100%;
			width: 40%;
			padding: 1.2rem 10px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			border-radius: 5px;
			background-color: #4e4e81;

			& h2 {
				font-size: 1.3rem;
				text-transform: uppercase;
				padding-left: 1rem;
				color: white;
			}

			& ul {
				display: flex;
				flex-direction: column;
				gap: 8px;
				width: 100%;
				padding-left: 1rem;
				align-items: flex-start;
				overflow-y: scroll;
				overflow-x: hidden;

				& li {
					display: flex;
					gap: 10px;
					list-style-type: none;

					& .item-cnt {
						display: flex;
						align-items: baseline;
						justify-content: space-between;
						gap: 15px;
						width: 18rem;
						padding: 10px;
						padding-left: 1.1rem;
						border-radius: 5px;
						background-color: #0f0c29;

						& p {
							color: white;
							font-size: 1rem;
							text-transform: capitalize;
							cursor: pointer;
						}

						& .com {
							font-size: 12px;
							color: green;
						}

						& span {
							font-size: 14px;
							color: white;
							word-spacing: 3px;
						}
					}

					& button {
						height: 2.8rem;
						width: 3.8rem;
						border: none;
						outline: none;
						border-radius: 5px;
						font-size: 1rem;
						font-weight: bold;
						cursor: pointer;
						color: whitesmoke;
					}

					& .edit {
						background-color: #00d26a;
					}

					& .del {
						background-color: red;
					}
				}
			}
		}

		& .section {
			height: 100%;
			width: 25%;
			padding: 1.2rem;
			border-radius: 5px;
			background-color: #302b63;

			& .holder {
				display: flex;
				flex-direction: column;
				gap: 1.2rem;
				width: 100%;
				height: 100%;

				& h2 {
					font-size: 1.3rem;
					text-transform: uppercase;
					padding-left: 1rem;
					color: whitesmoke;
				}

				& ul {
					display: flex;
					flex-direction: column;
					gap: 8px;
					width: 100%;
					padding-left: 1rem;
					align-items: flex-start;
					overflow-y: scroll;

					& li {
						list-style-type: none;
						font-size: 1.3rem;
						text-transform: capitalize;
						color: whitesmoke;

						& span {
							margin-right: 8px;
						}
					}
				}
			}
		}
	}

	.modal {
		width: 40%;
		height: 10rem;
		background-color: #4e4e81;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 5px;
		padding: 1rem;
		z-index: 6;

		& .modal-header {
			display: flex;
			justify-content: space-between;

			& h2 {
				font-size: 2rem;
				font-weight: bold;
				letter-spacing: 1px;
				padding: 1rem 1rem 0 1rem;
			}

			& button {
				height: 2.3rem;
				width: 2.3rem;
				border: none;
				outline: none;
				border-radius: 50%;
				cursor: pointer;
				font-size: 2rem;
			}
		}

		& .edit-place {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-top: 1rem;

			& input {
				border: none;
				outline: none;
				height: 2.2rem;
				padding: 1rem 1.8rem;
				width: 80%;
				font-size: 1.2rem;
				border-radius: 5px;
				text-transform: capitalize;
			}

			& button {
				height: 2.2rem;
				width: 3.8rem;
				border: none;
				outline: none;
				border-radius: 5px;
				font-size: 1rem;
				font-weight: bold;
				cursor: pointer;
				background-color: orange;
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}

.hidden {
	display: none;
}

.hide {
	opacity: 0;
}

.completed {
	text-decoration: line-through;
}

::-webkit-scrollbar {
	width: 3px;
}
